:root {
    /* colors */
    --neutral-light: #f2fff2;
    --neutral-medium: #c3d9c3;
    --neutral-dark: #060d06;
    --basis-light: #408040;
    --basis-dark: #0a330a;
    
    /* font-sizes */
    --header-l: 1.8rem;
    --header-m: 1.4rem;
    --main-txt-l: 1.2rem;
    --main-txt-s: 1rem;
    
    /* font-families */
    --headers: lemonde-courrier, serif;
    /*--Regular = font-weight: 400
        Demi = font-weight: 600
        Bold = font-weight: 700 -----*/
    --main-txt: jaf-domus, sans-serif;
    /*--Regular = font-weight: 400
        Semibold = font-weight: 600
        Bold = font-weight: 700 -----*/
}

/* -----------------------
    General styling
-------------------------- */

/* ------ body -------*/

body {
    background-color: var(--neutral-light);
    border: 0;
    font-family: var(--main-txt);
    font-size: 100%;
    margin: 0 auto;
    max-width: 100vw;
    padding: 0;
}

/* -------- grid layout ------------- */

.body_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}

/* ---------- h1 ---------------- */

.heading_1 {
    color: var(--basis-dark);
    font-family: var(--headers);
    font-size: var(--header-l);
    font-weight: 700;
    text-align: center;
}

/* ------------ h2 ------------- */

.heading_2 {
    color: var(--basis-dark);
    font-family: var(--headers);
    font-size: var(--header-m);
    font-weight: 700;
    padding: 5% 0;
    text-align: center;
}

/* --------- h3 --------------- */

.heading_3 {
    color: var(--basis-dark);
    font-family: var(--headers);
    font-size: var(--main-txt-l);
    font-weight: 600;
    padding-bottom: 5%;
}

/* --------- p ----------------- */

.main_txt {
    color: var(--neutral-dark);
    font-size: var(--main-txt-s);
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
}

.main_txt_box {
    color: var(--neutral-light);
    font-size: var(--main-txt-s);
    font-weight: 400;
    line-height: 1.5;
    padding: 2% 0;
    text-align: left;
}

/* -------- call-to-action-button --------- */

.cta_btn {
    background-color: var(--basis-dark);
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px var(--neutral-medium);
    color: var(--neutral-light);
    cursor: pointer;
    display: inline-block;
    font-family: var(--headers);
    margin: 10% auto;
    outline: none;
    padding: 5% 8%;
    text-align: center;
    text-transform: uppercase;
}

.cta_btn:hover {
    background-color: var(--basis-light)
}
    
.cta_btn:active {
    background-color: var(--basis-light);
    box-shadow: 0 2px;
    transform: translateY(2px);
}

/*---------------------------
    Header and navigation
----------------------------*/

.header {
    background-color: var(--neutral-medium);
    margin: 0;
    border: 0;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding: 1%;
    position: relative;
}

/* ------- Logo --------------- */

.logo {
    align-items: center;
    display: flex;
    justify-self: flex-start;
}

.logo_img {
    max-height: 70px;
    padding: 0 10px;
}

/* -------- Navigation ----------- */

.nav_icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 60%;
}

.sog_icon,
.burger {
    max-height: 30px;
    padding: 0 10px;
}

/* --------- Search field ---------------- */

.search-container {
    background-color: var(--neutral-light);
    border: 3px solid var(--basis-dark);
    border-radius: 5px;
    display: none;
    max-width: 40%;
}

.search_field {
    background-color: var(--neutral-light);
    border: transparent;
    border-radius: 5px;
    color: var(--neutral-medium);
    font-family: var(--headers);
    max-width: 100%;
}

.sog:checked ~ .search-container{
    display: flex;
}

/* ----------- Burgermenu ---------------------- */

.sog,
.mobile_menu,
.menu_arrow {
    display: none;
}

/* --------- Main menu ------------------------ */

.menu_list {
    background-color: var(--neutral-medium);
    display: flex;
    flex-direction: column;
    left: 0;
    list-style: none;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: calc(100% - .3rem);
    transform: translateY(-10px);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.menu_links {
    color: var(--basis-dark);
    font-family: var(--headers);
    font-size: var(--main-txt-l);
    font-weight: 700;
    padding: 5px;
}

.active_menu {
    background-color: var(--neutral-light);
    border: 2px solid var(--basis-light);
}

.mobile_menu:checked ~ .menu_list {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* ---------- Sub menus -------------------- */

.arrow {
    cursor: pointer;
    float: inline-end;
    max-height: 10px;
    padding: 5px 10px;
    transform: rotate(-90deg);
}

.sub_list {
    background-color: var(--neutral-medium);
    display: none;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.sub_links {
    color: var(--basis-dark);
    font-size: var(--main-txt-l);
    font-weight: 600;
    padding: 5px;
}

#om_arrow:checked ~ .sub_list,
#arra_arrow:checked ~ .sub_list,
#medlem_arrow:checked ~ .sub_list,
#kontakt_arrow:checked ~ .sub_list {
    display: flex;
}

/* -------------------------------------
    Styling of main content
-------------------------------------- */

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: main;
    justify-items: center;
    margin: 0 auto;
    max-width: 100%;
}

.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    text-align: center;
    width: 90%;
}

.hero_img {
    border: 5px solid var(--basis-dark);
    border-radius: 5px;
    max-width: 100%;
}

/*-------------------------------
    Index
---------------------------------*/

.index_txt {
    width: 89%;
}

.index_ad {
    align-items: center;
    background-color: var(--neutral-medium);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8% 0;
    width: 90%;
}

.i_ad_section {
    padding: 3%;
    text-align: center;
    width: 50%;
}

.i_ad_img {
    border: 5px solid var(--basis-dark);
    border-radius: 5px;
    width: 90%;
}

.i_ad_txt {
    font-size: calc(var(--main-txt) - 10%);
    font-weight: 600;
    line-height: 1.5;
    padding-top: 5%;
    text-align: center;
}

/*-------------------------------
    Om os
---------------------------------*/

.om_head {
    padding: 5% 0 2% 0;
}

.om_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 89%;
}

.om_txt {
    padding: 2% 0;
}

/*------------------------------------
    Bliv medlem
--------------------------------------*/

.medlem_txt {
    display: flex;
    padding: 5% 0;
    width: 89%;
}

.medlem_info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 0;
    width: 90%;
}

.li_medlem::before {
    content: "•";
    padding-right: 8px;
    color: var(--basis-dark);
}

.medlem_betal {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    width: 90%;
}

.medlem_box {
    background-color: var(--basis-dark);
    padding: 3% 6%;
}

.medlem_form {
    font-family: var(--main-txt);
    font-size: var(--main-txt-s);
    width: 90%;
}

.medlem_form label {
    color: var(--neutral-dark);
    padding: 2%;
}

input[type=text],
input[type=email] {
    background-color: var(--neutral-light);
    border: 5px solid var(--basis-light);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--basis-dark);
    margin: 2% 0;
    padding: 2%;
    width: 100%;
}

.input_field {
    color: var(--neutral-medium);
    font-family: var(--main-txt);
    font-size: var(--main-txt-s);
}

.checks {
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 5% 0;
}

.check_element {
    align-items: center;
    display: flex;
    justify-content: center;
}

input[type=submit] {
    margin: 5% 35%;
}


/*-----------------------------------
    error - page not found - styling
-------------------------------------*/

.error_main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
    width: 90%;
}

.error_head {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.error_img {
    max-width: 800px;
    padding: 5% 0;
    width: 100%;
}

.error_txt {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    text-align: center;
    width: 90%;
}

/*--------------------------------------
    Footer
---------------------------------------*/

.footer {
    align-items: center;
    background-color: var(--neutral-medium);
    display: flex;
    flex-direction: column;
    font-size: var(--main-txt-s);
    grid-area: footer;
    justify-content: flex-start;
    margin-top: 15%;
    padding: 10% 0 5% 0;
    text-align: center;
}

.foot_address {
    max-width: 90%;
}

.footer_some_img {
    padding: 10px;
    width: 10%;
}

.footer_heading {
    font-weight: 650;
}

.footer_text {
    line-height: 1.5;
    padding: 3% 0;
}

.foot_sponsor {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3% 0 5% 0;
}

.sponsor_slide {
    max-width: 70%;
}

.copyright {
    font-size: calc(var(--main-txt-s) - 10%);
}


/*--------------------------------------
    Styling for bigger screens
---------------------------------------*/
@media (min-width: 768px) {

    /*---------- Header and navigation ---------*/

    .header {
        justify-content: space-between;
        padding: 1% 5%;
        position: relative;
    }

    /* -------- Navigation ----------- */

    .nav_icon {
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        max-width: 80%;
    }

    /* --------- Search field ---------------- */

    .search-container {
        max-width: 50%;
    }

    .sog:checked ~ .search-container{
        display: flex;
    }

    /* ----------- Burgermenu ---------------------- */

    .burger_btn {
        display: none;
    }

    /* --------- Main menu ------------------------ */

    .menu_list {
        display: flex;
        flex-direction: row;
        height: 50%;
        opacity: 1;
        padding: 0 10px;
        pointer-events: auto;
        position: static;
    }

    .menu_links {
        font-size: var(--main-txt-s);
        padding: 5px;
        position: relative;
    }

    .menu_open {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* ---------- Sub menus -------------------- */

    .arrow {
        cursor: pointer;
        float: none;
        max-height: 10px;
        padding: 5px;
        position: absolute;
        transform: rotate(-90deg);
    }

    .sub_list {
        background-color: var(--neutral-medium);
        display: none;
        flex-direction: column;
        padding: 10px;
        position: relative;
    }

    .sub_links {
        font-size: var(--main-txt-s);
        font-weight: 600;
        padding: 5px;
    }

    #om_arrow:checked ~ .sub_list,
    #arra_arrow:checked ~ .sub_list,
    #medlem_arrow:checked ~ .sub_list,
    #kontakt_arrow:checked ~ .sub_list {
        display: flex;
    }
}

























































  

