body {
    background-color: #f2fff2;
    border: 0;
    font-family: jaf-domus, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    max-width: 100vw;
    padding: 0;
}

/*---------------------------
    Header and navigation
----------------------------*/

.header {
    background-color: #c3d9c3;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    position: relative;
}

.logo {
    align-items: center;
    display: flex;
    justify-self: flex-start;
}

.logo_img {
    max-height: 70px;
    padding: 0 10px;
}

.nav_icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

.sog,
.burger {
    max-height: 30px;
    padding: 0 10px;
}

/*-----------------
    Burgermenu
-------------------*/

.mobile_menu,
.menu_arrow {
    display: none;
}

.menu_list {
    background-color: #c3d9c3;
    display: none;
    flex-direction: column;
    left: 0;
    list-style: none;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 80px;
}

.menu_links {
    color: #0a330a;
    font-family: lemonde-courrier, serif;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 5px;
    text-decoration: none;
}

.active_menu {
    background-color: #f2fff2;
    border: 2px solid #408040;
}

.mobile_menu:checked ~ .menu_list {
    display: flex;
}

.arrow {
    float: inline-end;
    max-height: 10px;
    padding: 5px 10px;
}

.sub_list {
    background-color: #c3d9c3;
    display: none;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.sub_links {
    color: #0a330a;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 5px;
    text-decoration: none;
}

#om_arrow:checked ~ .sub_list,
#arra_arrow:checked ~ .sub_list,
#medlem_arrow:checked ~ .sub_list,
#kontakt_arrow:checked ~ .sub_list {
    display: flex;
}





/*-----------------
    Footer section
-------------------*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    background-color: #c3d9c3;
}

.footer_some_img {
    width: 8%;
    margin-right: 8px;
}

.footer_heading {
    font-weight: 650;
}

.footer_text {
    margin-top: 0.3rem;
    line-height: 1.2;
}